In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import re

%matplotlib inline

### 2021 All Fire Incidents in United States

In [ ]:
fire2021 = pd.read_csv('data/2021fireincident.txt', delimiter = '^')
fire2021['FIRE_ORIG']

#### Sex and Age of those who caused fires

fire2021 = fire2021.loc[fire2021['STATE']== 'TN']
fire2021[['INCIDENT_KEY','HUM_FAC_7', 'SEX', 'AGE']]

### Cause codes for fire incidents(use pdf in data folder to identify cause codes)

In [ ]:
firecauses2021 = pd.read_csv('../data/2021causes.txt', delimiter = '^')
firecauses2021

#### Created Dictionary to rename 'CAUSE_CODE' values as actual descriptions 
#### !!!USE 'Data Analysis Guide' pg. 27!!!

In [ ]:
firecauses2021.CAUSE_CODE = firecauses2021.CAUSE_CODE.astype(str).str.strip()
firecauses2021.CAUSE_CODE.unique()

In [ ]:
dict = {'15' : 'Other Unintentional', '1' : 'Intentional', "2" : 'Playing with Heat Source', '3' : 'Smoking', '4' : 'Heating', '5' : 'Cooking', '6' : 'Electrical Malfunction', '7' : 'Appliances', '8' : 'Open Flame', '9' : 'Other Heat', '10' : 'Other Equiptment', '11' : 'Natural', '12' : 'Exposure', '13' : 'Unknown', '14' : 'Equiptment Misoperation, Failure', '16' : 'Investigation with Arson Module'}

firecauses2021['CAUSE_CODE'] = firecauses2021['CAUSE_CODE'].replace(dict)
firecauses2021

# 2021 Fire incident addresses (United States)

In [ ]:
fire2021_address = pd.read_csv('../data/2021incidentaddress.txt', delimiter = '^', encoding='latin-1')
fire2021_address

### 2021 Fire Incident address (TN)

In [ ]:
fire2021_TNaddress = fire2021_address.loc[fire2021_address['STATE_ID'] == 'TN'].drop('ZIP4', axis = 1)
fire2021_TNaddress = fire2021_TNaddress.reset_index(drop = True)
fire2021_TNaddress

In [ ]:
fire2021_TNaddress = fire2021_TNaddress.loc[fire2021_TNaddress['STATE'] == 'TN']
fire2021_TNaddress

#### Changing case on 'STREETNAME', 'STREETTYPE', 'CITY', and 'STATE_ID'

In [ ]:
fire2021_TNaddress['STREETNAME'] = fire2021_TNaddress['STREETNAME'].str.title()
fire2021_TNaddress['STREETTYPE'] = fire2021_TNaddress['STREETTYPE'].str.title()
fire2021_TNaddress['CITY'] = fire2021_TNaddress['CITY'].str.title()
fire2021_TNaddress['STATE_ID'] = fire2021_TNaddress['STATE_ID'].str.upper()
fire2021_TNaddress

#### Changing 'INC_DATE' to datetime

In [ ]:
fire2021_TNaddress['incident_date'] = pd.to_datetime(fire2021_TNaddress['INC_DATE'], format='%m%d%Y')

In [ ]:
fire2021_TNaddress = fire2021_TNaddress.drop(columns=['INC_DATE'])
fire2021_TNaddress

#### !!!Extract the first 5 digits of the zipcode in order to drop the '.0'!!!

In [ ]:
fire2021_TNaddress['ZIP5'] = fire2021_TNaddress['ZIP5'].astype(str).str.replace('\.0$', '', regex=True)
fire2021_TNaddress

### 2021 Fire Incident addresses (Nashville, TN)
#### (possibly narrow down to just specific zipcodes in which Nash Fire Dept responds to. For visulization purposes, follow the 'TN fire stats' link in favorites bar. TN State stats, Davidson Co stats, Nash/zipcode stats))

In [ ]:
fire2021_nash_address = fire2021_TNaddress.loc[fire2021_TNaddress['CITY'] == 'Nashville']
fire2021_nash_address.to_csv('fire2021__nash_address.csv')
fire2021_nash_address = fire2021_nash_address.reset_index(drop = True)
fire2021_nash_address.head()

In [ ]:
fire2021_nash_address.ZIP5.unique()

### Combining All 2021 Tables

In [ ]:
tn2021 = pd.merge(firecauses2021, fire2021_TNaddress, 
                               on = 'INCIDENT_KEY', 
                               how = 'inner')
tn2021 = tn2021[['INCIDENT_KEY', 'incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2021.to_csv('tn2021.csv')
tn2021

In [ ]:
nash2021 = pd.merge(firecauses2021, fire2021_nash_address, 
                               on = 'INCIDENT_KEY', 
                               how = 'inner')
nash2021 = nash2021[['INCIDENT_KEY', 'incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2021.to_csv('nash2021.csv')
nash2021

# 2020 All Fire Incident  (United States)

In [ ]:
fire2020 = pd.read_csv('../data/2020fireincident.txt', delimiter = '^')
fire2020

### 2020 Fire incident addresses (United States)

In [ ]:
fire2020_address = pd.read_csv('../data/2020incidentaddress.txt', delimiter = '^', encoding='latin-1')
fire2020_address

### 2020 Fire Causes

In [ ]:
firecauses2020 = pd.read_csv('../data/2020causes.txt', delimiter = '^')
firecauses2020

In [ ]:
firecauses2020.CAUSE_CODE = firecauses2020.CAUSE_CODE.astype(str).str.strip()
firecauses2020.CAUSE_CODE.unique()

In [ ]:
dict = {'15' : 'Other Unintentional', '1' : 'Intentional', "2" : 'Playing with Heat Source', '3' : 'Smoking', '4' : 'Heating', '5' : 'Cooking', '6' : 'Electrical Malfunction', '7' : 'Appliances', '8' : 'Open Flame', '9' : 'Other Heat', '10' : 'Other Equiptment', '11' : 'Natural', '12' : 'Exposure', '13' : 'Unknown', '14' : 'Equiptment Misoperation, Failure', '16' : 'Investigation with Arson Module'}

firecauses2020['CAUSE_CODE'] = firecauses2020['CAUSE_CODE'].replace(dict)
firecauses2020

### 2020 Fire incident address (TN)

In [ ]:
fire2020_TNaddress = fire2020_address.loc[fire2020_address['STATE_ID'] == 'TN'].drop('ZIP4', axis = 1)
fire2020_TNaddress = fire2020_TNaddress.reset_index(drop = True)
fire2020_TNaddress

In [ ]:
fire2020_TNaddress = fire2020_TNaddress.loc[fire2020_TNaddress['STATE'] == 'TN']
fire2020_TNaddress

#### Changing case on 'STREETNAME', 'STREETTYPE', 'CITY', and 'STATE_ID'

In [ ]:
fire2020_TNaddress['STREETNAME'] = fire2020_TNaddress['STREETNAME'].str.title()
fire2020_TNaddress['STREETTYPE'] = fire2020_TNaddress['STREETTYPE'].str.title()
fire2020_TNaddress['CITY'] = fire2020_TNaddress['CITY'].str.title()
fire2020_TNaddress['STATE_ID'] = fire2020_TNaddress['STATE_ID'].str.upper()
fire2020_TNaddress

#### Changing 'INC_DATE' to datetime

In [ ]:
fire2020_TNaddress['incident_date'] = pd.to_datetime(fire2020_TNaddress['INC_DATE'], format='%m%d%Y')

In [ ]:
fire2020_TNaddress = fire2020_TNaddress.drop(columns=['INC_DATE'])
fire2020_TNaddress

#### Extract the first 5 digits of the zipcode in order to drop the '.0'

In [ ]:
fire2020_TNaddress['ZIP5'] = fire2020_TNaddress['ZIP5'].astype(str).str.replace('\.0$', '', regex=True)
fire2020_TNaddress

### 2020 Fire Incident addresses (Nashville, TN)
#### (possibly narrow down to just specific zipcodes in which Nash Fire Dept responds to. For visulization purposes, follow the 'TN fire stats' link in favorites bar. TN State stats, Davidson Co stats, Nash/zipcode stats))

In [ ]:
fire2020_nash_address = fire2020_TNaddress.loc[fire2020_TNaddress['CITY'] == 'Nashville']
fire2020_nash_address = fire2020_nash_address.reset_index(drop = True)
fire2020_nash_address.head()

### Combining All 2020 Tables

In [ ]:
tn2020 = pd.merge(firecauses2020, fire2020_TNaddress, 
                               on = 'INCIDENT_KEY', 
                               how = 'inner')
tn2020 = tn2020[['INCIDENT_KEY', 'incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2020.to_csv('tn2020.csv')

In [ ]:
nash2020 = pd.merge(firecauses2020, fire2020_nash_address, 
                               on = 'INCIDENT_KEY', 
                               how = 'inner')
nash2020 = nash2020[['INCIDENT_KEY', 'incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2020.to_csv('nash2020.csv')

# 2019 All Fire Incident  (United States)

In [ ]:
fire2019 = pd.read_csv('../data/2019fireincident.txt', delimiter = '^')
fire2019

### 2019 Fire incident addresses (United States)

In [ ]:
fire2019_address = pd.read_csv('../data/2019incidentaddress.txt', delimiter = '^', encoding='latin-1')
fire2019_address

### 2019 Fire Causes

In [ ]:
firecauses2019 = pd.read_csv('../data/2019causes.txt', delimiter = '^')
firecauses2019

In [ ]:
firecauses2019.CAUSE_CODE = firecauses2019.CAUSE_CODE.astype(str).str.strip()
firecauses2019.CAUSE_CODE.unique()

In [ ]:
dict = {'15' : 'Other Unintentional', '1' : 'Intentional', "2" : 'Playing with Heat Source', '3' : 'Smoking', '4' : 'Heating', '5' : 'Cooking', '6' : 'Electrical Malfunction', '7' : 'Appliances', '8' : 'Open Flame', '9' : 'Other Heat', '10' : 'Other Equiptment', '11' : 'Natural', '12' : 'Exposure', '13' : 'Unknown', '14' : 'Equiptment Misoperation, Failure', '16' : 'Investigation with Arson Module'}

firecauses2019['CAUSE_CODE'] = firecauses2019['CAUSE_CODE'].replace(dict)
firecauses2019

### 2019 Fire incident address (TN)

In [ ]:
fire2019_TNaddress = fire2019_address.loc[fire2019_address['STATE_ID'] == 'TN'].drop('ZIP4', axis = 1)
fire2019_TNaddress = fire2019_TNaddress.reset_index(drop = True)
fire2019_TNaddress

In [ ]:
fire2019_TNaddress = fire2019_TNaddress.loc[fire2019_TNaddress['STATE'] == 'TN']
fire2019_TNaddress

#### Changing case on 'STREETNAME', 'STREETTYPE', 'CITY', and 'STATE_ID'

In [ ]:
fire2019_TNaddress['STREETNAME'] = fire2019_TNaddress['STREETNAME'].str.title()
fire2019_TNaddress['STREETTYPE'] = fire2019_TNaddress['STREETTYPE'].str.title()
fire2019_TNaddress['CITY'] = fire2019_TNaddress['CITY'].str.title()
fire2019_TNaddress['STATE_ID'] = fire2019_TNaddress['STATE_ID'].str.upper()
fire2019_TNaddress

#### Changing 'INC_DATE' to datetime

In [ ]:
fire2019_TNaddress['incident_date'] = pd.to_datetime(fire2019_TNaddress['INC_DATE'], format='%m%d%Y')
fire2019_TNaddress = fire2019_TNaddress.drop(columns=['INC_DATE'])
fire2019_TNaddress

#### Extract the first 5 digits of the zipcode in order to drop the '.0'

In [ ]:
fire2019_TNaddress['ZIP5'] = fire2019_TNaddress['ZIP5'].astype(str).str.replace('\.0$', '', regex=True)
fire2019_TNaddress

### 2019 Fire Incident addresses (Nashville, TN)
#### (possibly narrow down to just specific zipcodes in which Nash Fire Dept responds to. For visulization purposes, follow the 'TN fire stats' link in favorites bar. TN State stats, Davidson Co stats, Nash/zipcode stats))

In [ ]:
fire2019_nash_address = fire2019_TNaddress.loc[fire2019_TNaddress['CITY'] == 'Nashville']
fire2019_nash_address = fire2019_nash_address.reset_index(drop = True)
fire2019_nash_address.head()

### Combining All 2019 Tables
# saved to csv

In [ ]:
tn2019 = pd.merge(firecauses2019, fire2019_TNaddress, 
                               on = 'INCIDENT_KEY', 
                               how = 'inner')
tn2019 = tn2019[['INCIDENT_KEY', 'incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2019.to_csv('tn2019.csv')
tn2019

In [ ]:
nash2019 = pd.merge(firecauses2019, fire2019_nash_address, 
                               on = 'INCIDENT_KEY', 
                               how = 'inner')
nash2019 = nash2019[['INCIDENT_KEY', 'incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2019.to_csv('nash2019.csv')
nash2019

# 2018 All Fire Incident  (United States)

In [ ]:
fire2018 = pd.read_csv('../data/2018fireincident.txt', delimiter = '^')
fire2018

### 2018 Fire incident addresses (United States)

In [ ]:
fire2018_address = pd.read_csv('../data/2018incidentaddress.txt', delimiter = '^', encoding='latin-1')
fire2018_address

### 2018 Fire Causes

In [ ]:
firecauses2018 = pd.read_csv('../data/2018causes.txt', delimiter = '^')
firecauses2018

In [ ]:
firecauses2018.CAUSE_CODE = firecauses2018.CAUSE_CODE.astype(str).str.strip()
firecauses2018.CAUSE_CODE.unique()

In [ ]:
dict = {'15' : 'Other Unintentional', '1' : 'Intentional', "2" : 'Playing with Heat Source', '3' : 'Smoking', '4' : 'Heating', '5' : 'Cooking', '6' : 'Electrical Malfunction', '7' : 'Appliances', '8' : 'Open Flame', '9' : 'Other Heat', '10' : 'Other Equiptment', '11' : 'Natural', '12' : 'Exposure', '13' : 'Unknown', '14' : 'Equiptment Misoperation, Failure', '16' : 'Investigation with Arson Module'}

firecauses2018['CAUSE_CODE'] = firecauses2018['CAUSE_CODE'].replace(dict)
firecauses2018

### 2018 Fire incident address (TN)

In [ ]:
fire2018_TNaddress = fire2018_address.loc[fire2018_address['STATE_ID'] == 'TN'].drop('ZIP4', axis = 1)
fire2018_TNaddress = fire2018_TNaddress.reset_index(drop = True)
fire2018_TNaddress

In [ ]:
fire2018_TNaddress = fire2018_TNaddress.loc[fire2018_TNaddress['STATE'] == 'TN']
fire2018_TNaddress

#### Changing case on 'STREETNAME', 'STREETTYPE', 'CITY', and 'STATE_ID'

In [ ]:
fire2018_TNaddress['STREETNAME'] = fire2018_TNaddress['STREETNAME'].str.title()
fire2018_TNaddress['STREETTYPE'] = fire2018_TNaddress['STREETTYPE'].str.title()
fire2018_TNaddress['CITY'] = fire2018_TNaddress['CITY'].str.title()
fire2018_TNaddress['STATE_ID'] = fire2018_TNaddress['STATE_ID'].str.upper()
fire2018_TNaddress

#### Changing 'INC_DATE' to datetime

In [ ]:
fire2018_TNaddress['incident_date'] = pd.to_datetime(fire2018_TNaddress['INC_DATE'], format='%m%d%Y')
fire2018_TNaddress = fire2018_TNaddress.drop(columns=['INC_DATE'])
fire2018_TNaddress

#### Extract the first 5 digits of the zipcode in order to drop the '.0'

In [ ]:
fire2018_TNaddress['ZIP5'] = fire2018_TNaddress['ZIP5'].astype(str).str.replace('\.0$', '', regex=True)
fire2018_TNaddress

### 2018 Fire Incident addresses (Nashville, TN)
#### (possibly narrow down to just specific zipcodes in which Nash Fire Dept responds to. For visulization purposes, follow the 'TN fire stats' link in favorites bar. TN State stats, Davidson Co stats, Nash/zipcode stats))

In [ ]:
fire2018_nash_address = fire2018_TNaddress.loc[fire2018_TNaddress['CITY'] == 'Nashville']
fire2018_nash_address = fire2018_nash_address.reset_index(drop = True)
fire2018_nash_address.head()

### Combining All 2018 Tables
# saved to csv

In [ ]:
tn2018 = pd.merge(firecauses2018, fire2018_TNaddress, 
                               on = 'INC_NO', 
                               how = 'inner')
tn2018 = tn2018[['INC_NO', 'incident_date', 'STATE_x', 'FDID_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2018.to_csv('tn2018.csv')
tn2018

In [ ]:
nash2018 = pd.merge(firecauses2018, fire2018_nash_address, 
                               on = 'INC_NO', 
                               how = 'inner')
nash2018 = nash2018[['INC_NO', 'incident_date', 'STATE_x', 'FDID_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2018.to_csv('nash2018.csv')
nash2018

# 2017 All Fire Incident  (United States)

In [ ]:
fire2017 = pd.read_csv('../data/2017fireincident.txt', delimiter = '^')
fire2017

### 2017 Fire incident addresses (United States)

In [ ]:
fire2017_address = pd.read_csv('../data/2017incidentaddress.txt', delimiter = '^', encoding='latin-1')
fire2017_address

### 2017 Fire Causes

In [ ]:
firecauses2017 = pd.read_csv('../data/2017causes.txt', delimiter = '^')
firecauses2017

In [ ]:
firecauses2017.CAUSE_CODE = firecauses2017.CAUSE_CODE.astype(str).str.strip()
firecauses2017.CAUSE_CODE.unique()

In [ ]:
dict = {'15' : 'Other Unintentional', '1' : 'Intentional', "2" : 'Playing with Heat Source', '3' : 'Smoking', '4' : 'Heating', '5' : 'Cooking', '6' : 'Electrical Malfunction', '7' : 'Appliances', '8' : 'Open Flame', '9' : 'Other Heat', '10' : 'Other Equiptment', '11' : 'Natural', '12' : 'Exposure', '13' : 'Unknown', '14' : 'Equiptment Misoperation, Failure', '16' : 'Investigation with Arson Module'}

firecauses2017['CAUSE_CODE'] = firecauses2017['CAUSE_CODE'].replace(dict)
firecauses2017

### 2017 Fire incident address (TN)

In [ ]:
fire2017_TNaddress = fire2017_address.loc[fire2017_address['STATE_ID'] == 'TN'].drop('ZIP4', axis = 1)
fire2017_TNaddress = fire2017_TNaddress.reset_index(drop = True)
fire2017_TNaddress

In [ ]:
fire2017_TNaddress = fire2017_TNaddress.loc[fire2017_TNaddress['STATE'] == 'TN']
fire2017_TNaddress

#### Changing case on 'STREETNAME', 'STREETTYPE', 'CITY', and 'STATE_ID'

In [ ]:
fire2017_TNaddress['STREETNAME'] = fire2017_TNaddress['STREETNAME'].str.title()
fire2017_TNaddress['STREETTYPE'] = fire2017_TNaddress['STREETTYPE'].str.title()
fire2017_TNaddress['CITY'] = fire2017_TNaddress['CITY'].str.title()
fire2017_TNaddress['STATE_ID'] = fire2017_TNaddress['STATE_ID'].str.upper()
fire2017_TNaddress

#### Changing 'INC_DATE' to datetime

In [ ]:
fire2017_TNaddress['incident_date'] = pd.to_datetime(fire2017_TNaddress['INC_DATE'], format='%m%d%Y')
fire2017_TNaddress = fire2017_TNaddress.drop(columns=['INC_DATE'])
fire2017_TNaddress

#### Extract the first 5 digits of the zipcode in order to drop the '.0'

In [ ]:
fire2017_TNaddress['ZIP5'] = fire2017_TNaddress['ZIP5'].astype(str).str.replace('\.0$', '', regex=True)
fire2017_TNaddress

### 2017 Fire Incident addresses (Nashville, TN)
#### (possibly narrow down to just specific zipcodes in which Nash Fire Dept responds to. For visulization purposes, follow the 'TN fire stats' link in favorites bar. TN State stats, Davidson Co stats, Nash/zipcode stats))

In [ ]:
fire2017_nash_address = fire2017_TNaddress.loc[fire2017_TNaddress['CITY'] == 'Nashville']
fire2017_nash_address = fire2017_nash_address.reset_index(drop = True)
fire2017_nash_address.head()

### Combining All 2017 Tables
# saved to csv

In [ ]:
tn2017 = pd.merge(firecauses2017, fire2017_TNaddress, 
                               on = 'INC_NO', 
                               how = 'inner')
tn2017 = tn2017[['INC_NO', 'incident_date', 'FDID_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2017.to_csv('tn2017.csv')
tn2017

In [ ]:
nash2017 = pd.merge(firecauses2017, fire2017_nash_address, 
                               on = 'INC_NO', 
                               how = 'inner')
nash2017 = nash2017[['INC_NO', 'incident_date', 'FDID_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2017.to_csv('nash2017.csv')
nash2017

## Combining All Years for Nash

In [ ]:
nash2021 = pd.read_csv('nash2021.csv')
nash2020 = pd.read_csv('nash2020.csv')

In [ ]:
nash2021

In [ ]:
nash20_21 = pd.concat([nash2020, nash2021], ignore_index=True)
nash20_21

In [ ]:
nash20s_19 = pd.concat([nash20_21, nash2019], ignore_index=True)
nash20s_19

In [ ]:
nash2019 = pd.read_csv('nash2019.csv')

In [ ]:
nash20s_18 = pd.concat([nash20s_19, nash2018], ignore_index=True)
nash20s_18

In [ ]:
nash2018 = pd.read_csv('nash2018.csv')
nash2018['INC_NO_x'] = nash2018['INC_NO']
nash2018 = nash2018[['incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2018 = nash2018.loc[nash2018['STATE_x'] == 'TN']
nash2018.to_csv('nash2018.csv')

In [ ]:
nash2017 = pd.read_csv('nash2017.csv')
nash2017['INC_NO_x'] = nash2017['INC_NO']
nash2017 = nash2017[['incident_date', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
nash2017

In [ ]:
nashfires = pd.concat([nash20s_18, nash2017], ignore_index=True)
nashfires.reset_index(drop = True)

In [ ]:
nashfires.INC_NO_x.nunique()

In [ ]:
nashfires['incident_date'] = pd.to_datetime(nashfires['incident_date'])
nashfires

In [ ]:
def season(month):
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return 'Winter'
    
nashfires['Season'] = nashfires['incident_date'].dt.month.apply(season)
nashfires

In [ ]:
nashfires['NUM_MILE'] = nashfires['NUM_MILE'].astype(str)
nashfires['APT_NO'] = nashfires['APT_NO'].astype(str)

In [ ]:
nashfires['Address'] = (
    nashfires['NUM_MILE'].fillna(' ') + (' ') +
    nashfires['STREET_PRE'].fillna(' ') + (' ') +
    nashfires['STREETNAME'].fillna(' ') + (' ') +
    nashfires['STREETTYPE'].fillna(' ') + (' ') +
    nashfires['STREETSUF'].fillna(' ')
)

nashfires['Address'] = nashfires['Address'].str.strip()
nashfires.to_csv('nashfires.csv')

### Count of how many fires per season in Nashville from 2017-2021

In [ ]:
import pandas as pd

In [ ]:
nashfires = pd.read_csv('data/nashfires.csv')

In [ ]:
nashfires['Season'].value_counts()

In [ ]:
nashfires['CAUSE_CODE'].value_counts()

In [ ]:
nashfires['ZIP5'].nunique()

## Combining All Years for TN

In [ ]:
tn2021 = pd.read_csv('tn2021.csv')
tn2020 = pd.read_csv('tn2020.csv')

In [ ]:
tn20_21 = pd.concat([tn2020, tn2021], ignore_index=True)
tn20_21

In [ ]:
tn2019 = pd.read_csv('tn2019.csv')

In [ ]:
tn20s_19 = pd.concat([tn20_21, tn2019], ignore_index=True)
tn20s_19

In [ ]:
tn2018 = pd.read_csv('tn2018.csv')
tn2018['INC_NO_x'] = tn2018['INC_NO']
tn2018 = tn2018[['incident_date', 'STATE_x', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2018 = tn2018.loc[tn2018['STATE_x'] == 'TN']
tn2018.to_csv('tn2018.csv')

In [ ]:
tn20s_18 = pd.concat([tn20s_19, tn2018], ignore_index=True)
tn20s_18

In [ ]:
tn2017 = pd.read_csv('tn2017.csv')
tn2017['INC_NO_x'] = tn2017['INC_NO']
tn2017 = tn2017[['incident_date', 'FDID_x', 'INC_NO_x', 'CAUSE_CODE', 'NUM_MILE', 'STREET_PRE','STREETNAME', 'STREETTYPE', 'STREETSUF', 'APT_NO','CITY', 'STATE_ID', 'ZIP5']]
tn2017

In [ ]:
tnfires = pd.concat([tn20s_18, tn2017], ignore_index=True)
tnfires.reset_index(drop = True)

In [ ]:
tnfires.INC_NO_x.nunique()

In [ ]:
tnfires['incident_date'] = pd.to_datetime(tnfires['incident_date'])
tnfires

In [ ]:
def season(month):
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return 'Winter'
    
tnfires['Season'] = tnfires['incident_date'].dt.month.apply(season)
tnfires

In [ ]:
tnfires['NUM_MILE'] = tnfires['NUM_MILE'].astype(str)
tnfires['APT_NO'] = tnfires['APT_NO'].astype(str)

In [ ]:
tnfires['Address'] = (
    tnfires['NUM_MILE'].fillna(' ') + (' ') +
    tnfires['STREET_PRE'].fillna(' ') + (' ') +
    tnfires['STREETNAME'].fillna(' ') + (' ') +
    tnfires['STREETTYPE'].fillna(' ') + (' ') +
    tnfires['STREETSUF'].fillna(' ')
)

tnfires['Address'] = tnfires['Address'].str.strip()
tnfires.to_csv('tnfires.csv')

In [ ]:
tnfires = pd.read_csv('data/tnfires.csv')

### Count of how many fires per season in Tennessee from 2017-2021

In [ ]:
tnfires['Season'].value_counts()

In [ ]:
tnfires['CAUSE_CODE'].value_counts()

# Zip Codes

In [ ]:
import pandas as pd

In [ ]:
tnfires.rename(columns={'ZIP5': 'zip'}, inplace=True)
tnfires

In [ ]:
nash_zip = pd.read_csv('data/zip.csv', encoding='latin-1')
nash_zip

In [ ]:
nash_zip = nash_zip[['zip', 'neighborhood']]

In [ ]:
nashfires = tnfires.merge(nash_zip,how="inner",on="zip")
nashfires = nashfires.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
nashfires

In [ ]:
nashfires = pd.read_csv('data/nashfires.csv')

In [ ]:
nashfires.to_csv('data/nashfires.csv')

In [ ]:
nashfires['zip'].unique()

In [ ]:
nashfires['full_address'] = nashfires['Address'] + ', ' + nashfires['CITY'] + ', ' + nashfires['STATE_ID'].astype(str) + ', ' + nashfires['zip'].astype(str)
nashfires

# Removing Duplicated Rows

In [ ]:
nashfires= nashfires.drop_duplicates()
nashfires

In [ ]:
tnfires['full_address'] = tnfires['Address'] + ', ' + tnfires['CITY'] + ', ' + tnfires['STATE_ID'].astype(str) + ', ' + tnfires['ZIP5'].astype(str)
tnfires

In [ ]:
tnfires = tnfires.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
tnfires

In [ ]:
tnfires= tnfires.drop_duplicates()
tnfires

In [7]:
tnfires.to_csv('data/tnfires.csv')

In [ ]:
nashfires = pd.read_csv('data/nashfires.csv')
nashfires = nashfires.loc[nashfires['CITY'] == 'Nashville']
nashfires

In [ ]:
nashfires = nashfires.drop(columns=['Unnamed: 0'])
nashfires

In [ ]:
nashfires = nashfires.drop_duplicates(subset=['Address', 'incident_date'])
nashfires = nashfires.reset_index(drop = True)
nashfires

In [ ]:
tnfires = pd.read_csv('data/tnfires.csv')
tnfires = tnfires.loc[tnfires['STATE_ID'] == 'TN']
tnfires

In [5]:
tnfires = tnfires.drop_duplicates(subset=['Address', 'incident_date'])
tnfires

,Unnamed: 0,INCIDENT_KEY,incident_date,STATE_x,FDID_x,INC_NO_x,CAUSE_CODE,NUM_MILE,STREET_PRE,STREETNAME,STREETTYPE,STREETSUF,APT_NO,CITY,STATE_ID,ZIP5,Season,Address,full_address
0,0,TN_01113_01102020_0122481_0,2020-01-10,TN,1113,0122481,Cooking,630,NaN,Hill,Ct,NaN,NaN,Clinton,TN,37716,Winter,630 Hill Ct,"630 Hill Ct, Clinton, TN, 37716"
1,1,TN_01113_01132020_0122592_0,2020-11-03,TN,1113,0122592,Heating,1000,NaN,Jd Yarnell Industrial Parkway,NaN,NaN,NaN,Clinton,TN,37716,Fall,1000 Jd Yarnell Industrial Parkway,"1000 Jd Yarnell Industrial Parkway, Clinton,..."
2,2,TN_01113_02042020_0123662_0,2020-02-04,TN,1113,0123662,Other Unintentional,516,NaN,Scenic Drive,NaN,NaN,NaN,Clinton,TN,37716,Winter,516 Scenic Drive,"516 Scenic Drive, Clinton, TN, 37716"
3,3,TN_01113_02122020_0123977_0,2020-02-12,TN,1113,0123977,Other Heat,1000,NaN,Jd Yarnell Industrial Parkway,NaN,NaN,NaN,Clinton,TN,37716,Winter,1000 Jd Yarnell Industrial Parkway,"1000 Jd Yarnell Industrial Parkway, Clinton,..."
4,4,TN_01113_04222020_0126432_0,2020-04-22,TN,1113,0126432,"Equiptment Misoperation, Failure",1000,NaN,Jd Yarnell Industrial Parkway,NaN,NaN,NaN,Clinton,TN,37716,Spring,1000 Jd Yarnell Industrial Parkway,"1000 Jd Yarnell Industrial Parkway, Clinton,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129414,2003970,NaN,2017-02-06,NaN,5818,780,Other Unintentional,8,NaN,I 26,NaN,NaN,NaN,Kingsport,TN,37660,Winter,8 I 26,"8 I 26, Kingsport, TN, 37660"
129415,2003971,NaN,2017-10-14,NaN,5818,780,Other Unintentional,114,NaN,Walker Lake,Rd,NaN,NaN,Atoka,TN,38004,Fall,114 Walker Lake Rd,"114 Walker Lake Rd, Atoka, TN, 38004"
129416,2003972,NaN,2017-05-05,NaN,5818,780,Other Unintentional,1231,NaN,Crestview,St,NaN,NaN,Covington,TN,38019,Spring,1231 Crestview St,"1231 Crestview St, Covington, TN, 38019"
129417,2003973,NaN,2017-03-15,NaN,5818,780,Other Unintentional,1589,NaN,Yeager Rd Northside Ba,NaN,NaN,NaN,Mcminnville,TN,37110,Spring,1589 Yeager Rd Northside Ba,"1589 Yeager Rd Northside Ba, Mcminnville, TN..."
129418,2003974,NaN,2017-01-31,NaN,5818,780,Other Unintentional,279,NaN,Coldwater,Dr,NaN,NaN,Johnson City,TN,37604,Winter,279 Coldwater Dr,"279 Coldwater Dr, Johnson City, TN, 37604"

In [ ]:
tnfires['incident_date'] = pd.to_datetime(tnfires['incident_date'])
tnfires.info()

In [ ]:
start_year = tnfires['incident_date'].dt.year.min()
end_year = tnfires['incident_date'].dt.year.max()
print("Start Year:", start_year)
print("End Year:", end_year)

In [6]:
tnfires = tnfires.drop(columns=['Unnamed: 0'])
tnfires

,INCIDENT_KEY,incident_date,STATE_x,FDID_x,INC_NO_x,CAUSE_CODE,NUM_MILE,STREET_PRE,STREETNAME,STREETTYPE,STREETSUF,APT_NO,CITY,STATE_ID,ZIP5,Season,Address,full_address
0,TN_01113_01102020_0122481_0,2020-01-10,TN,1113,0122481,Cooking,630,NaN,Hill,Ct,NaN,NaN,Clinton,TN,37716,Winter,630 Hill Ct,"630 Hill Ct, Clinton, TN, 37716"
1,TN_01113_01132020_0122592_0,2020-11-03,TN,1113,0122592,Heating,1000,NaN,Jd Yarnell Industrial Parkway,NaN,NaN,NaN,Clinton,TN,37716,Fall,1000 Jd Yarnell Industrial Parkway,"1000 Jd Yarnell Industrial Parkway, Clinton,..."
2,TN_01113_02042020_0123662_0,2020-02-04,TN,1113,0123662,Other Unintentional,516,NaN,Scenic Drive,NaN,NaN,NaN,Clinton,TN,37716,Winter,516 Scenic Drive,"516 Scenic Drive, Clinton, TN, 37716"
3,TN_01113_02122020_0123977_0,2020-02-12,TN,1113,0123977,Other Heat,1000,NaN,Jd Yarnell Industrial Parkway,NaN,NaN,NaN,Clinton,TN,37716,Winter,1000 Jd Yarnell Industrial Parkway,"1000 Jd Yarnell Industrial Parkway, Clinton,..."
4,TN_01113_04222020_0126432_0,2020-04-22,TN,1113,0126432,"Equiptment Misoperation, Failure",1000,NaN,Jd Yarnell Industrial Parkway,NaN,NaN,NaN,Clinton,TN,37716,Spring,1000 Jd Yarnell Industrial Parkway,"1000 Jd Yarnell Industrial Parkway, Clinton,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129414,NaN,2017-02-06,NaN,5818,780,Other Unintentional,8,NaN,I 26,NaN,NaN,NaN,Kingsport,TN,37660,Winter,8 I 26,"8 I 26, Kingsport, TN, 37660"
129415,NaN,2017-10-14,NaN,5818,780,Other Unintentional,114,NaN,Walker Lake,Rd,NaN,NaN,Atoka,TN,38004,Fall,114 Walker Lake Rd,"114 Walker Lake Rd, Atoka, TN, 38004"
129416,NaN,2017-05-05,NaN,5818,780,Other Unintentional,1231,NaN,Crestview,St,NaN,NaN,Covington,TN,38019,Spring,1231 Crestview St,"1231 Crestview St, Covington, TN, 38019"
129417,NaN,2017-03-15,NaN,5818,780,Other Unintentional,1589,NaN,Yeager Rd Northside Ba,NaN,NaN,NaN,Mcminnville,TN,37110,Spring,1589 Yeager Rd Northside Ba,"1589 Yeager Rd Northside Ba, Mcminnville, TN..."
129418,NaN,2017-01-31,NaN,5818,780,Other Unintentional,279,NaN,Coldwater,Dr,NaN,NaN,Johnson City,TN,37604,Winter,279 Coldwater Dr,"279 Coldwater Dr, Johnson City, TN, 37604"

In [ ]:
tnfires.loc[tnfires['incident_date'] == '2017-10-01']

# Drilling down why specific dates are so high in volume

In [1]:
import pandas as pd

In [3]:
tnfires = pd.read_csv('data/tnfires.csv')
tnfires.info()

C:\Users\ajwil\AppData\Local\Temp\ipykernel_16780\3655118373.py:1: DtypeWarning: Columns (1,3,15) have mixed types. Specify dtype option on import or set low_memory=False.
  tnfires = pd.read_csv('data/tnfires.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129419 entries, 0 to 129418
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     129419 non-null  int64
 1   INCIDENT_KEY   23966 non-null   object
 2   incident_date  129419 non-null  object
 3   STATE_x        90315 non-null   object
 4   FDID_x         129419 non-null  int64
 5   INC_NO_x       129419 non-null  object
 6   CAUSE_CODE     129419 non-null  object
 7   NUM_MILE       114134 non-null  object
 8   STREET_PRE     14005 non-null   object
 9   STREETNAME     129223 non-null  object
 10  STREETTYPE     100635 non-null  object
 11  STREETSUF      6976 non-null    object
 12  APT_NO         10982 non-null   object
 13  CITY           129419 non-null  object
 14  STATE_ID       129419 non-null  object
 15  ZIP5           129419 non-null  object
 16  Season         129419 non-null  object
 17  Address        129227 non-null  object
 18  full_address   129227 non-null  object
dtypes: int64(2), object(17)
memory usage: 18.8+ MB

In [ ]:
tnfires.loc[tnfires['STATE_ID'] == 'TN']

In [4]:
nashfires = pd.read_csv('data/nashfires.csv')
nashfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6863 entries, 0 to 6862
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6863 non-null   int64
 1   INCIDENT_KEY   2121 non-null   object
 2   incident_date  6863 non-null   object
 3   STATE_x        3349 non-null   object
 4   FDID_x         6863 non-null   object
 5   INC_NO_x       6863 non-null   int64
 6   CAUSE_CODE     6863 non-null   object
 7   NUM_MILE       6100 non-null   object
 8   STREET_PRE     310 non-null    object
 9   STREETNAME     6863 non-null   object
 10  STREETTYPE     6310 non-null   object
 11  STREETSUF      1007 non-null   object
 12  APT_NO         1440 non-null   object
 13  CITY           6863 non-null   object
 14  STATE_ID       6863 non-null   object
 15  zip            6863 non-null   int64
 16  Season         6863 non-null   object
 17  Address        6863 non-null   object
 18  neighborhood   6863 non-null   object
 19  full_address   6863 non-null   object
dtypes: int64(3), object(17)
memory usage: 1.0+ MB

In [9]:
tnfires.loc[tnfires['incident_date'] == '2017-10-01']['CITY'].value_counts()

Knoxville       101
Chattanooga      38
Kingsport        32
Murfreesboro     21
Johnson City     16
               ...
Readyville        1
Flintville        1
Madison           1
Cornersville      1
Clark Range       1
Name: CITY, Length: 121, dtype: int64

In [17]:
tnfires.loc[tnfires['incident_date'] == '2017-10-01']

,INCIDENT_KEY,incident_date,STATE_x,FDID_x,INC_NO_x,CAUSE_CODE,NUM_MILE,STREET_PRE,STREETNAME,STREETTYPE,STREETSUF,APT_NO,CITY,STATE_ID,ZIP5,Season,Address,full_address
90328,NaN,2017-10-01,NaN,11100,724,Unknown,414,W,Baldwin,St,NaN,NaN,Rockwood,TN,37854,Fall,414 W Baldwin St,"414 W Baldwin St, Rockwood, TN, 37854"
90353,NaN,2017-10-01,NaN,12150,017-001,Heating,24,NaN,I65 North 24,NaN,NaN,NaN,Cornersville,TN,37047,Fall,24 I65 North 24,"24 I65 North 24, Cornersville, TN, 37047"
90394,NaN,2017-10-01,NaN,12200,0000033,Heating,NaN,S,Northshore,Dr,NaN,NaN,Knoxville,TN,37919,Fall,nan S Northshore Dr,"nan S Northshore Dr, Knoxville, TN, 37919"
90396,NaN,2017-10-01,NaN,12200,0000033,Heating,6917,NaN,Clowers,Dr,NaN,NaN,Knoxville,TN,37924,Fall,6917 Clowers Dr,"6917 Clowers Dr, Knoxville, TN, 37924"
90460,NaN,2017-10-01,NaN,12200,0000061,Smoking,401,NaN,Catherine Mcauley,Way,NaN,NaN,Knoxville,TN,37919,Fall,401 Catherine Mcauley Way,"401 Catherine Mcauley Way, Knoxville, TN, 37919"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128708,NaN,2017-10-01,NaN,5801,1306,Cooking,32,NaN,Mack,St,NaN,NaN,Jackson,TN,38305,Fall,32 Mack St,"32 Mack St, Jackson, TN, 38305"
128749,NaN,2017-10-01,NaN,5801,1893,Other Equiptment,0,N,Military Main Ent To Fairgroun,NaN,NaN,NaN,Lawrenceburg,TN,38464,Fall,0 N Military Main Ent To Fairgroun,"0 N Military Main Ent To Fairgroun, Lawrencebu..."
128851,NaN,2017-10-01,NaN,5804,0002375,Cooking,1612,NaN,Kirby,St,NaN,NaN,Springfield,TN,37172,Fall,1612 Kirby St,"1612 Kirby St, Springfield, TN, 37172"
129095,NaN,2017-10-01,NaN,5806,0000900,Cooking,640,NaN,Deer Lodge Hwy,NaN,NaN,NaN,Clark Range,TN,38553,Fall,640 Deer Lodge Hwy,"640 Deer Lodge Hwy, Clark Range, TN, 38553"
129327,NaN,2017-10-01,NaN,5812,848,Cooking,203,NaN,Edgewood,St,NaN,NaN,Mount Pleasant,TN,38474,Fall,203 Edgewood St,"203 Edgewood St, Mount Pleasant, TN, 38474"